@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Jacques+Francois&family=Red+Rose:wght@300..700&display=swap');

@import url("colors.css");

/*quita el margen por defecto*/
body {
    margin: 0;
    padding: 0;
    font-family: "Jacques Francois", 'Times New Roman', Times, serif;
}

.logo {
    font-family: "Fascinate", system-ui;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: var(--choco-500);
}

.nav-bar {
    background-color: var(--neutral-700);
    padding: 0px 48px 0px 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--choco-500);

    ul {
        list-style: none;
        display: flex;
        gap: 48px;
        margin: 0;
        padding: 0;
    }

    a {
        color: var(--choco-500);
        text-decoration: none;
        font-weight: 400;
        font-size: 20px;
    }
}